body {
    background-color: rgb(181, 73, 33);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
    font-size: 90px;
    font-weight: 800;
    color: rgb(103, 169, 55);
    text-align: center;
}

button {
    background-color:rgb(103, 169, 55);
    font-size: 24px;
    color: rgb(207, 230, 250);
}

.button {
    text-align: center;
}

h1 {
    font-size: 52px;
    text-align: center;
    color: rgb(103, 169, 55);
}

.h2 {
    font-size: 40px;
    color: rgb(103, 169, 55);
    text-align: left;
}

.h2.info {
    background-color: rgb(157, 190, 220);
}

.description {
    font-size: 18px;
    text-align: left;
    background-color: rgb(157, 190, 220);
    color: rgb(181, 73, 33);
}

.ingredients,
.instructions {
    font-size: 18px;
    text-align: left;
    color:rgb(157, 190, 220)
}